<.flash_group flash={@flash} />
<div class="page">
  <header class="site-header">
    <h1 class="nameheading">{gettext("Autumn Hoerr")}</h1>
  </header>
  <.nav nav_items={@nav_items} current_section={@current_section} />
  <main>
    {@inner_content}
  </main>
  <footer class="site-footer">
    &copy; 2025 Autumn Hoerr
  </footer>
</div>
