<img class="portrait" src={@about_image_url} />
<p class="first-char">
  When someone inevitably has to put some remarks together after I die I hope they lead off with "She was always so curious." I make a paycheck as a software developer, but have also had the good fortune to be a parent, friend, artist, maker, musician, amateur blacksmith, scuba diver, poet, carpenter, and so many other things over the years. I love collecting new information, hobbies, and experiences.
</p>
<p>
  I live and work in Wilmington, North Carolina. I have a thing for textures and patterns; visual, tactile, and auditory. My work explores me&mdash;parts of it tend to be impulsive and automatic while other elements are more considered and methodical. Sometimes it's about spending some time with a color or an idea. Other times it's about my mood or a phrase stuck in my head.
</p>
