<div class="home">
  <main>
    <h1 class="nameheading">{gettext("Autumn Hoerr")}</h1>
  </main>
  <footer>
    <ul class="linkslist">
      <li>
        <a href="https://bsky.app/profile/refringence.bsky.social">{gettext("bsky")}</a>
      </li>
      <li>
        <a href="https://github.com/autumn-hoerr">{gettext("github")}</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/autumn-hoerr/">{gettext("linkedin")}</a>
      </li>
    </ul>
  </footer>
</div>
