<div>
  <main>
    <h1 class="home--nameheading">{gettext("Autumn Hoerr")}</h1>
  </main>
  <footer>
    <ul class="footer--linkslist">
      <li>
        <a href="https://bsky.app/profile/refringence.bsky.social">bsky</a>
      </li>
      <li>
        <a href="https://github.com/autumn-hoerr">github</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/autumn-hoerr/">linkedin</a>
      </li>
    </ul>
  </footer>
</div>
